@font-face {
  font-family: DotMatrix;
  src: url(DOTMATRX.TTF);
}

main {
  display: grid;
  grid-template-rows: auto;
  font-size: 17pt;
  overflow: hidden;
  color: white;
  background-color: black;
}

.logo {
  width: 80vw;
  font-size: 10vh;
  padding: 0vw;
  margin-bottom: -10vw;
  margin-top: -7vw;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 17%,
    rgba(255, 255, 255, 1) 17%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light .logo {
  width: 80vw;
  font-size: 10vh;
  padding: 0vw;
  margin-bottom: -10vw;
  margin-top: -7vw;
  background: linear-gradient(
    90deg,
    #3d11b5 0%,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 17%,
    #3d11b5 17%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logoHeen {
  animation: gradSwitch 1s ease-in-out 1 both;
}
@keyframes gradSwitch {
  0% {
    background-position: 0vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 80vw;
  }
  50% {
    background-position: 0vw;
    background-size: 150vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background-position: 12vw;
    background-size: 80vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.logoTerug {
  animation: gradBack 1s ease-in-out 1 both;
}

@keyframes gradBack {
  100% {
    background-position: 0vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 80vw;
  }
  50% {
    background-position: 0vw;
    background-size: 150vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  0% {
    background-position: 12vw;
    background-size: 80vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.pDesc {
  padding-top: 2vw;
  font-size: 10pt;
  font-weight: lighter;
  font-style: italic;
  transform: translateX(2vw);
  color: darkgray;
}

.light {
  color: #3d11b5;
  background-color: #fff4db;
}

.light div {
  color: #3d11b5;
  background-color: #fff4db;
}

.light .veloDisplay,
.light .halteSelect,
.light .n°,
.light .tminus,
.light .destination,
.light .loadingLijn,
.light .graph {
  color: black;
  background-color: #91a72e;
  border-color: #918d96;
}

.light .bol,
.light .tempbol {
  background-color: transparent;
}

.light .bol {
  background-image: url("bolLight.svg");
}

.light .tempbol {
  background-image: url("tempLight.svg");
}

.light .loadingLijn {
  animation-name: busBopLight;
  animation-duration: 5s;
  animation-timing-function: step-start;
  animation-iteration-count: infinite;
}

.light .temp {
  color: gray;
}

.light .rain {
  color: black;
}

@keyframes busBopLight {
  2.5% {
    background-image: url("buslight.svg");
  }
  5% {
    background-image: url("buslight2.svg");
    background-position: 48vw bottom;
  }
  7.5% {
    background-image: url("buslight.svg");
  }
  10% {
    background-image: url("buslight2.svg");
    background-position: 47vw bottom;
  }
  12.5% {
    background-image: url("buslight.svg");
  }
  15% {
    background-image: url("buslight2.svg");
    background-position: 46vw bottom;
  }
  17.5% {
    background-image: url("buslight.svg");
  }
  20% {
    background-image: url("buslight2.svg");
    background-position: 45vw bottom;
  }
  22.5% {
    background-image: url("buslight.svg");
  }
  25% {
    background-image: url("buslight2.svg");
    background-position: 44vw bottom;
  }
  27.5% {
    background-image: url("buslight.svg");
  }
  30% {
    background-image: url("buslight2.svg");
    background-position: 43vw bottom;
  }
  32.5% {
    background-image: url("buslight.svg");
  }
  35% {
    background-image: url("buslight2.svg");
    background-position: 42vw bottom;
  }
  37.5% {
    background-image: url("buslight.svg");
  }
  40% {
    background-image: url("buslight2.svg");
    background-position: 41vw bottom;
  }
  42.5% {
    background-image: url("buslight.svg");
  }
  45% {
    background-image: url("buslight2.svg");
    background-position: 40vw bottom;
  }
  47.5% {
    background-image: url("buslight.svg");
  }
  50% {
    background-image: url("buslight2.svg");
    background-position: 39vw bottom;
  }
  52.5% {
    background-image: url("buslight.svg");
  }
  55% {
    background-image: url("buslight2.svg");
    background-position: 38vw bottom;
  }
  57.5% {
    background-image: url("buslight.svg");
  }
  60% {
    background-image: url("buslight2.svg");
    background-position: 37vw bottom;
  }
  62.5% {
    background-image: url("buslight.svg");
  }
  65% {
    background-image: url("buslight2.svg");
    background-position: 36vw bottom;
  }
  67.5% {
    background-image: url("buslight.svg");
  }
  70% {
    background-image: url("buslight2.svg");
    background-position: 35vw bottom;
  }
  72.5% {
    background-image: url("buslight.svg");
  }
  75% {
    background-image: url("buslight2.svg");
    background-position: 34vw bottom;
  }
  77.5% {
    background-image: url("buslight.svg");
  }
  80% {
    background-image: url("buslight2.svg");
    background-position: 33vw bottom;
  }
  82.5% {
    background-image: url("buslight.svg");
  }
  85% {
    background-image: url("buslight2.svg");
    background-position: 32vw bottom;
  }
  87.5% {
    background-image: url("buslight.svg");
  }
  90% {
    background-image: url("buslight2.svg");
    background-position: 31vw bottom;
  }
  92.5% {
    background-image: url("buslight.svg");
  }
  95% {
    background-image: url("buslight2.svg");
    background-position: 30vw bottom;
  }
  97.5% {
    background-image: url("buslight.svg");
  }
  100% {
    background-image: url("buslight2.svg");
    background-position: 29vw bottom;
  }
}

.light .veloName,
.light .veloFree {
  color: black;
}

.light .veloIcon {
  background-image: url("fietslight.svg");
}

.light .Velo {
  background-color: transparent;
}

h1 {
  margin: 0vw;
  margin-left: 2vw;
  font-family: "Space Mono", sans-serif;
}

.red {
  color: red;
}

.veloBox {
  background-color: #050505;
}

.veloDisplay {
  margin: 1vh;
  margin-top: 0vw;
  border-top: #000000 1vh solid;
  border-left: #0e0e0e 1vh solid;
  border-bottom: #0e0e0e 1vh solid;
  border-right: #000000 1vh solid;
}

.deLijnBox {
  background-color: black;
}

.nmbsBox {
  background-color: black;
}

.weerBox {
  background-color: black;
}

.modeSwitch {
  height: 8vw;
}
