@font-face {
  font-family: DotMatrix;
  src: url(DOTMATRX.TTF);
}

main {
  display: grid;
  grid-template-rows: 4vh auto;
  font-size: 17pt;
  overflow: hidden;
  color: white;
}

h1 {
  margin: 0vw;
  margin-left: 2vw;
  font-family: "Space Mono", sans-serif;
}

.red {
  color: red;
}

.veloBox {
  background-color: #050505;
}

.veloDisplay {
  margin: 1vh;
  margin-top: 0vw;
  border-top: #000000 1vh solid;
  border-left: #0e0e0e 1vh solid;
  border-bottom: #0e0e0e 1vh solid;
  border-right: #000000 1vh solid;
}

.deLijnBox {
  background-color: black;
}

.nmbsBox {
  background-color: black;
}

.weerBox {
  background-color: black;
}
